*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
  
a:link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.877);
}
a:visited{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

/* ----------------------------------------------Barre de Navigation---------------------------------------------- */

nav{
    position: fixed;
    display: flex;
    justify-content: flex-end;
    
    width: 100%;
    height: 80px;
    background-color: #0d0d0dcf;
}

#logo{
    width: 202px;
    margin-right: auto;
    margin-left: 50px;
    transition-duration: 0.4s;
}

#logo:hover{
    margin-left: 60px;

}

nav div{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 70px;
}

nav a{
    margin-right: 100px;

    font-size: 19px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;

    transition-duration: 0.5s;
}

nav hr{
    width: 0%;            
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: solid 0px #ffffff;

    transition-duration: 0.4s;
}

#accueil{
    width: 78px;
    height: 37px;
    padding-top: 10px;
}
#accueil a:hover{
    color: #ffffff;
    letter-spacing: 2px;
}

#accueil:hover hr{
    width: 50%;
    border: solid 1px #ffffff;
}


#lieux{
    width: 57px;
    height: 37px;
    padding-top: 10px;
}
#lieux a:hover{
    color: #ffffff;
    letter-spacing: 2px;
}

#lieux:hover hr{
    width: 50%;
    border: solid 1px #ffffff;
}

#new{
    width: 100px;
    height: 37px;
    padding-top: 10px;
}
#new a:hover{
    margin-right: 90px;
    color: #ffffff;
    letter-spacing: 2px;
}

#new:hover hr{
    width: 50%;
    border: solid 1px #ffffff;
}

#foire{
    width: 182px;
    height: 37px;
    padding-top: 10px;
    margin-right: 100px;
}
#foire a:hover{
    color: #ffffff;
    letter-spacing: 2px;
}

#foire:hover hr{
    width: 50%;
    border: solid 1px #ffffff;
}

/* ----------------------------------------------Home---------------------------------------------- */

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 49vw;

    text-align: center;
}

.home_titre h2{
    margin-top: -109px;
    margin-right: 246px;

    font-size: 30px;
    letter-spacing: 1px;
    font-weight: lighter;
    color: rgb(255, 255, 255);
    font-family: 'Oxygen', sans-serif;
}

.home_titre svg{
    width: 25%;
}

.descendre{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    top: 335px;
    margin-left: auto;
    margin-right: auto;

    transform: rotate(45deg);

    border: solid 3px black;
    background-color: rgb(235, 235, 235);

    transition-duration: 0.3s;
    animation: 0.5s cubic-bezier(.43,.12,.88,-0.41) 0s infinite alternate bloup;
}
@keyframes bloup { 
    from { 
        top: 335px; 
    } 
    to { 
        top: 341px;
    }  
}
.descendre:hover{
    background-color: #353535;
    border-color: white;
}

.descendre a i{
    transform: rotate(-45deg);

    font-size: 30px;
    color: #353535;

    transition-duration: 0.3s;
}
.descendre a i:hover{
    color: rgb(236, 236, 236)
}

/* ----------------------------------------------GEO---------------------------------------------- */

#geo{
    display: flex;
    justify-content: space-around;

    height: 995px;


    background-color: #0d0d0dcf;
}
hr#descendre{
    border-color: rgba(255, 255, 255, 0);
}
hr#ancre{
    border: solid 0px;
}

.geo_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

    font-size: 18px;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 'Rubik', sans-serif;
    color: white;

    opacity: 0;
}

.geo_left svg{
    width: 13%;
    margin-left: 460px;
    margin-bottom: 15px;

}

.geo_left p{
    width: 490px;
    margin-left: auto;
}

.geo_right{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 50%;
    text-align: center;
}

.geo_right img{
    width: 50%;
    transition-duration: 7s;
}
.geo_right img:hover{
    width: 52%;
    transform: rotate(360deg);
}

/* ----------------------------------------------4 saisons---------------------------------------------- */

.saisons{
    height: 970px;
    background-color: #0d0d0dcf;
    color: white;
}

.container_saisons{
    display: flex;
    justify-content: space-around;

    background-color: #0d0d0d00;
    text-align: center;
}

.s1, .s2, .s3, .s4{
    width: 25%;
    height: 575px;

    transition-duration: 0.4s;

}
.s1:hover, .s2:hover, .s3:hover, .s4:hover{
    width: 30%;
}


.s1 img, .s2 img, .s3 img, .s4 img{
    position: relative;

    width: 100%;
    top: -1px;

    border-top: solid 8px rgba(0, 0, 0, 0.92);
    border-bottom: solid 8px rgba(0, 0, 0, 0.92);

    transition-duration: 0.4s;

    z-index: 2;
}
.s1 img:hover, .s2 img:hover, .s3 img:hover, .s4 img:hover{
    position: relative;
    
    border-bottom:rgba(0, 0, 0, 0);

    z-index: 10;
}

.sous_s1, .sous_s2, .sous_s3, .sous_s4{
    position: relative;

    /* width: 524px; */
    height: 250px;
    top: -400px;

    background-color: #151515;

    border: solid 2px #0a7d17;
    border-top: none;

    z-index: -1;
    transition-duration: 0.6s;
}
.s1:hover .sous_s1, .s2:hover .sous_s2, .s3:hover .sous_s3, .s4:hover .sous_s4{
    top: -6px;

    z-index: 1; 
}
.sous_s1{
    border-left: none;
}
.sous_s4{
    border-right: none;
}

.sous_s1 h1, .sous_s2 h1, .sous_s3 h1, .sous_s4 h1{
    padding-top: 2px;
    padding-bottom: 10px;

    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.sous_s1 p, .sous_s2 p, .sous_s3 p, .sous_s4 p{
    width: 454px;
    margin-right: auto;
    margin-left: auto;

    font-size: 14px;
    line-height: 26px;
    text-align: initial;
    font-family: 'Nunito', sans-serif;
}

/* ----------------------------------------------footer---------------------------------------------- */

#footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    /* margin-top: -80px; */
    height: 300px;
    
    background-color: rgb(19, 19, 19);

    border-top: solid 1px #5b5b5b;
    
    color: white;
}

.haut_footer{
    display: flex;
    justify-content: space-around;

    margin-left: 140px;
    margin-top: 10px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
}

.left_footer{
    display: flex;
    flex-direction: column;

    margin-right: auto;
}

.left_footer svg{
    width: 23%;
}

.left_footer p{
    width: 36%;
    margin-top: 6px;

    font-size: 14px;
    line-height: 20px;
}

.left_footer span{
    font-weight: bold;
}

.left_footer .social i{
    margin-top: 10px;
    margin-right: 5px;

    font-size: 20px ;
    color: #aeaeae;

    transition-duration: 0.4s;
}
.left_footer .social i:hover{
    color: white;
}



.right_footer{
    display: flex;
    flex-direction: row;

    margin-top: 20px;
}

.right_footer .menuL, .menuA, .menuM{
    margin-right: 60px;
}

.right_footer .menuM{
    margin-right: 160px;
}

.right_footer h1{
    margin-bottom: 17px;

    font-size: 16px;
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
}

.right_footer p{
    width: 233px;

    font-size: 13px;
    line-height: 20px;
}

.bas_footer{
    width: 1603px;
    margin-left: 140px;

    border-top: solid 1px #777;
}

.bas_footer p{
    margin-top: 20px;

    font-size: 13px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

/* ----------------------------------------------Lieux - Slide ---------------------------------------------- */
.slider {
    position: relative;

    width: 100%;
    height: 100vh;
    overflow: hidden;

    z-index: -1;
}
  
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
  
.slide.current {
    opacity: 1;
}
  
.slide .content {
    position: absolute;
    bottom: -300px;
    left: 0;
    width: 100%;
    opacity: 0;
    background-color: #0d0d0dcf;
    color: #ffffff;
    padding: 1rem;
    line-height: 1.3;
}
  
.slide .content h1 {
    margin-bottom: 0.625rem;
    
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
}

.slide .content p {
    margin-bottom: 0.625rem;
    
    font-size: 14px;
    line-height: 26px;
    text-align: initial;
    font-family: 'Nunito', sans-serif;
}

  
.slide.current .content {
    opacity: 1;
    transform: translateY(-300px);
    transition: all 0.7s ease-in-out;
}
  
.slide:first-child {
    background: url("../images/lieux/abime.jpg") no-repeat center/cover;
}
  
.slide:nth-child(2) {
    background: url("../images/lieux/tufs.jpg") no-repeat center/cover;
}
  
.slide:nth-child(3) {
    background: url("../images/lieux/herisson.jpg") no-repeat center/cover;
}
  
.slide:nth-child(4) {
    background: url("../images/lieux/boite.jpg") no-repeat center/cover;
}
  
.slide:nth-child(5) {
    background: url("../images/lieux/baume.jpg") no-repeat center/cover;
}
  
.slide:nth-child(6) {
    background: url("../images/lieux/sel.jpg") no-repeat center/cover;
}

.slide:nth-child(7) {
    background: url("../images/lieux/fromage.jpg") no-repeat center/cover;
}
  
.slide:nth-child(8) {
    background: url("../images/lieux/lion.jpg") no-repeat center/cover;
}
  
.slide:nth-child(9) {
    background: url("../images/lieux/notre-dame.jpg") no-repeat center/cover;
}
  
.slide:nth-child(10) {
    background: url("../images/lieux/vieux.jpg") no-repeat center/cover;
}
  
  
.buttons button#prev {
    position: absolute;
    top: 50%;
    left: 1rem;
}
  
.buttons button#next {
    position: absolute;
    top: 50%;
    right: 1rem;
}
  
.buttons button {
    border: 2px solid #a6a6a6;
    background-color: #353535;
    color: #dfdfdf;
    cursor: pointer;
    padding: 15px 17px;
    border-radius: 50%;
    outline: none;

    transition-duration: 0.4s;
}
  
.buttons button:hover {
    background-color: #1d1d1d;
    border: 2px solid rgb(211, 211, 211);
}
  
@media (min-width: 640px) and (min-height: 640px) {
    .slide .content {
      bottom: 70px;
      left: -600px;
      width: 600px;
      padding: 2rem;
      line-height: 1.6;
    }
  
.slide.current .content {
      transform: translateX(600px);
    }
}
  


.actu_container{
    display: flex;
    justify-content: space-around;

    height: 46vw;
    padding-top: 70px;
}

.actu_left{
    display: flex;
    justify-content: space-around;

    width: 49%;
    height: 740px;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;

    background-color: aqua;
}

.actu_video{
    width: 100%;
    height: 100%;
}

.actu_video iframe{
    width: 100%;
    height: 100%;
}

.actu_right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 49%;
    height: 740px;
    margin-right: 5px;
    margin-top: auto;
    margin-bottom: auto;
}


.actu_haut{

    height: 50%;
    margin-bottom: 5px;

    background-color: yellow;

    transition-duration: 0.4s;
}

.actu_img, .actu_img img{
    width: 100%;
    height: 100%;

}

.actu_bas{
    display: flex;

    height: 49%;
    margin-top: 5px;
}

.actu_bas1{
    width: 50%;
    height: 100%;
    margin-right: 5px;

    background-color: green;

    transition-duration: 0.4s;
}

.actu_bas2{
    width: 50%;
    height: 100%;
    margin-left: 5px;

    background-color: darkorange;

    transition-duration: 0.4s;
}

.actu_bas1 img, .actu_bas2 img{
    width: 100%;
    height: 100%;
}

.filtre{position: relative;
    top: -367px;
    height: 100%;

    background-color: #0000009e;

    color: white;
    font-family: 'Nunito', sans-serif;

    transition-duration: 0.4s;
}

.filtre1{
    position: relative;
    top: -373px;
    height: 100%;

    background-color: #0000009e;

    color: white;
    font-family: 'Nunito', sans-serif;

    transition-duration: 0.4s;
}
.filtre h1, .filtre1 h1{
    padding-top: 280px;
    padding-left: 50px;

    font-size: 25px;
}

.filtre p, .filtre1 p{
    padding-top: 7px;
    padding-left: 50px;

    font-size: 13px;
}

.actu_img:hover .filtre1, .actu_bas1:hover .filtre, .actu_bas2:hover .filtre{
    height: 0%;

    background-color: #00000000;
    color: rgba(255, 255, 255, 0);
}